/* Estilo geral mobile */
.navbar_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: whitesmoke; */
}
  
/* Ícones de hambúrguer e fechar */
.hamburger_icon,
.close_icon {
    font-size: 24px;
    cursor: pointer;
}
/* Estilo para o ícone de fechar no topo direito */
.close_icon {
    text-align: end;
    width: inherit;
    color: rgb(255, 255, 255);
}
 
/* Estilo da lista do menu */
.menu_list {
    display: none;
    opacity: 0;
    /* transform: translateY(-20px); */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
/* Menu aberto com animação */
.menu_list.menu_open {
    position: absolute;
    top: 0;
    left: 60vw;
    display: flex;
    opacity: 1;
    transform: translateY(0);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: rgb(225, 225, 225);
    font-weight: bold;
}

.list_mobile {
    display: flex;
    width: 30vw;
    height: 11vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 25px;
    height: 25px;
}
  

/* Estilo Desktop */
.list_desktop {
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.list_desktop > li {
    padding: 10px;
    white-space: nowrap;
}
.list_desktop > li::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--special-text-color);
    margin-top: 10px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.list_desktop > li:hover::after {
    transform: scaleX(1);
}
.list_desktop > li:hover{
    animation-name: scaleNav;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.list_desktop > li > a {
    width: 10px;
    height: 10px;
    color: var(--text-color);
    transition:all 1s linear;
}

@keyframes scaleNav {
    0%{
        background-color: none;
        color: white;
        transform: scale(1, 1);
    }
    100%{
        transform: scale(0.9,0.9);
    }
}
  