.welcome-links-container{
  width: 100vw;
  height: 10vh;
  padding: 1vh 5vw;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.social-links-container{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SOCIAL LINKS */
.linkedin{
  width: 37vw;
  height: 6vh;
  /* padding: 0.8vh 2vw; */
  border-radius: 8px; 
  position: relative;
  /* overflow: hidden; */
}
.linkedin::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0.5px;
  border-radius: 9px;
  background-size: 400%;
  background: linear-gradient(
  -45deg,
  rgba(147, 88, 247, 1),
  rgba(16, 215, 226, 1)
  );
  animation: animate infinite forwards;
}
.linkedin-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 97%;
  height: 92%;
  background-color: rgb(63, 62, 62);
  border-radius: 8px;
  position: absolute;
  top: 2px;
  left: 2.5px;
  z-index: 1;
}
.linkedin-content > span {
  color: white;
  margin-top: 1vh;
}

.github{
  width: 37vw;
  height: 6vh;
  /* padding: 5px 7px; */
  border-radius: 8px; 
  position: relative;
  /* overflow: hidden; */
}
.github::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0.5px;
  border-radius: 9px;
  background-size: 400%;
  background: linear-gradient(
  150deg,
  rgba(210, 64, 116, 1),
  rgba(101, 24, 180, 1)
);
animation: animate infinite forwards;
}
.github-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 97%;
  height: 92%;
  background-color: rgb(63, 62, 62);
  border-radius: 8px;
  position: absolute;
  top: 2px;
  left: 2.5px;
  z-index: 1;
}
.github-content > span {
  color: white;
  margin-top: 6px;
}

.linkedin:hover{
  animation: scaleLinkedin 0.5s linear forwards
}
.github:hover{
  animation: scaleGithub 0.5s linear forwards
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scaleLinkedin {
  0%{
      transform: scale(1, 1);
  }
  100%{
      transform: scale(0.8,0.8);
      box-shadow: 1px 5px 20px rgb(22, 100, 243);
  }
}
@keyframes scaleGithub {
  0%{
      transform: scale(1, 1);
  }
  100%{
      transform: scale(0.8,0.8);
      box-shadow: 1px 5px 20px rgba(101, 24, 180);
  }
}